version: 2

jobs:
    test:
        docker:
            - image: aaswenson/py3_sco2_reactor_tests
        steps:
            - checkout
            - run:
                 name: run tests
                 command: |
                     export APP_ENV
                     APP_ENV=docker
                     cd optimization
                     pytest
workflows:  
    version: 2
    test:
        jobs:
            - test
